<head>  

  </head>
<title>{{title}}</title>
<div class="banner">
  <img src="image/forum.png" />
</div>
<table class="board">
  <tr class="board-row">
    <td border="0" cell-spacing="0" class="board-header" colspan="4">
      Great Hall<i aria-hidden="true" class="fa fa-chevron-down"></i>
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell th description">
      Forum
    </td>
    <td class="board-cell th threads">
      Threads
    </td>
    <td class="board-cell th posts">
      Posts
    </td>
    <td class="board-cell th lastpost">
      Last Post
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell description">
      <a>Hall of Shame</a>(12 viewing)
      <p>
        Archival forum for public shaming of past users.
      </p>
    </td>
    <td class="board-cell threads">
      2.2k
    </td>
    <td class="board-cell posts">
      39.7k
    </td>
    <td class="board-cell lastpost">
      <a>Clusterfuck of Suresh</a>
      <p>
        by <a> Suresh</a>
      </p>
      <p class="rightalign">
        24-01-2017 22:19
      </p>
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell description">
      <a>Announcements</a>(12 viewing)
      <p>
        Board rules and latest news.
      </p>
    </td>
    <td class="board-cell threads">
      165
    </td>
    <td class="board-cell posts">
      6.7k
    </td>
    <td class="board-cell lastpost">
      <a>Best April Fools Post Contest</a>
      <p>
        by <a> Garden</a>
      </p>
      <p class="rightalign">
        03-04-2017 18:25
      </p>
    </td>
  </tr>
</table>
<table class="board">
  <tr class="board-row">
    <td border="0" cell-spacing="0" class="board-header" colspan="4">
      Common Room<i aria-hidden="true" class="fa fa-chevron-down"></i>
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell th description">
      Forum
    </td>
    <td class="board-cell th threads">
      Threads
    </td>
    <td class="board-cell th posts">
      Posts
    </td>
    <td class="board-cell th lastpost">
      Last Post
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell description">
      <a>General Discussion</a>(12 viewing)
      <p>
        Discussion of all things Harry Potter. Range includes the books, movies and right through to Pottermore and Cursed Child.
      </p>
    </td>
    <td class="board-cell threads">
      1.8k
    </td>
    <td class="board-cell posts">
      66.1k
    </td>
    <td class="board-cell lastpost">
      <a>DLP Improvement Thread V2...</a>
      <p>
        by <a> Oz</a>
      </p>
      <p class="rightalign">
        Today 17:58
      </p>
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell description">
      <a>Real Life Discussion</a>(12 viewing)
      <p>
        Life outside of a book! May contain mature topics.
      </p>
    </td>
    <td class="board-cell threads">
      3.3k
    </td>
    <td class="board-cell posts">
      135k
    </td>
    <td class="board-cell lastpost">
      <a>DLP Improvement Thread V2...</a>
      <p>
        by <a> Oz</a>
      </p>
      <p class="rightalign">
        Today 17:58
      </p>
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell description">
      <a>Gaming and PC Discussion</a>(12 viewing)
      <p>
        Gaming discussion forum, contains subforums for help with PC building, flash and spam games, Pokemon and League of Legends.
      </p>
    </td>
    <td class="board-cell threads">
      1.8k
    </td>
    <td class="board-cell posts">
      66.1k
    </td>
    <td class="board-cell lastpost">
      <a>DLP Improvement Thread V2...</a>
      <p>
        by <a> Oz</a>
      </p>
      <p class="rightalign">
        Today 17:58
      </p>
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell description">
      <a>Multimedia</a>(12 viewing)
      <p>
        Movies, TV, books, music as well as academic and graphic design discussion.
      </p>
    </td>
    <td class="board-cell threads">
      3.3k
    </td>
    <td class="board-cell posts">
      135k
    </td>
    <td class="board-cell lastpost">
      <a>DLP Improvement Thread V2...</a>
      <p>
        by <a> Oz</a>
      </p>
      <p class="rightalign">
        Today 17:58
      </p>
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell description">
      <a>Politics</a>(12 viewing)
      <p>
        The place to discuss current events around the World. Heavily moderated, post at your own risk.
      </p>
    </td>
    <td class="board-cell threads">
      1.8k
    </td>
    <td class="board-cell posts">
      66.1k
    </td>
    <td class="board-cell lastpost">
      <a>DLP Improvement Thread V2...</a>
      <p>
        by <a> Oz</a>
      </p>
      <p class="rightalign">
        Today 17:58
      </p>
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell description">
      <a>Sick and Perverse</a>(12 viewing)
      <p>
        For all those things you wish had stayed in that dark corner of your mind. Not for the faint of heart.
      </p>
    </td>
    <td class="board-cell threads">
      3.3k
    </td>
    <td class="board-cell posts">
      135k
    </td>
    <td class="board-cell lastpost">
      <a>DLP Improvement Thread V2...</a>
      <p>
        by <a> Oz</a>
      </p>
      <p class="rightalign">
        Today 17:58
      </p>
    </td>
  </tr>
  <tr class="board-row">
    <td class="board-cell description">
      <a>Bookclub</a>(12 viewing)
      <p>
        The discussion hub for DLP's re-reading of the Harry Potter series.
      </p>
    </td>
    <td class="board-cell threads">
      1.8k
    </td>
    <td class="board-cell posts">
      66.1k
    </td>
    <td class="board-cell lastpost">
      <a>DLP Improvement Thread V2...</a>
      <p>
        by <a> Oz</a>
      </p>
      <p class="rightalign">
        Today 17:58
      </p>
    </td>
  </tr>
</table>