
<div class="container">
  <div class="intro-header" style="background-image: url('http://www.ermurrowhs.org/uploads/8/3/5/5/83553752/cunycollegelogos_orig.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <p style="visibility: hidden">Blog</p>
            <hr class="small">
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
